.main-header,
.home{
    height: 100vh;
}

.main-header{
    height: 50vw;
    justify-content: flex-start;
    flex-grow: 1;
}
// .explore-nearby{
//     background-color: #fff;
//     :nth-child(2){
//         grid-template-columns: repeat(4, 1fr);
//         grid-template-rows: repeat(2, 1fr);
//     }
// }

.home {
    grid-column: 1/-1;
    background-image: url(../../img/hero.jpg);
    background-position: top;
    background-size:100% ;
    background-repeat: no-repeat;

}

.app-desc{
    flex: 1;
    display: block;
    align-self: flex-end;
    margin-bottom: 8rem;
     span,
     a{
        background-color: #000;
        color: #fff;
        padding: 5px;
        border-radius: 10px;
        width: fit-content;
    }
    a{
        line-height: 5;
    }
}