.desc-page{
    margin-top: 3rem;

    a{
        text-decoration: underline;
        color: $clr3;
    }
    .details-container{
        margin: 2.5rem 0; 
    }
    
    .title-secondery{
        margin-bottom: 1.5rem;
        &>*{
        gap: 20px;
        } 
    }
    .img-grid-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
        margin-bottom: 40px;
        img{
            object-fit: cover;
        width: 100%;  
        }
        :first-child {
            grid-area: 1/1/3/3;
            border-radius: 10px 0 0 10px;
        }
        :nth-child(3){
            border-radius: 0 10px 0 0;
        }
        :nth-child(5){
            border-radius: 0 0 10px 0;
        }
    }

    .description-availability{
        .stay-description{
            flex: 2;
        .stay-rate{
            margin-bottom: 1.5rem;
            }
        }
        .availability{
            flex: 1;
            text-align: center;
        }
    }
    .host-img{
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
    }

    .summary-container{
        margin: 50px 0;
    }

    .info-container{
        .info{
            gap: 20px;
        }
        div:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }

    .availability{
        margin-left: 10%;
        position: sticky;
        top: 30px;
        height: fit-content;
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 10px;
        padding: 24px;
        box-shadow:  0 6px 8px rgb(216, 216, 216);
        .date-picker{
            font-size: 20px;
            border: none;
            text-align: center;
            cursor: pointer;
        }
        
        .check-btn{
            background-size: 150% 150%;
            background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
            border-radius: 16px;
            padding: 20px;
            font-family: circular;
            width: 100%;
        }
        
        .react-datepicker{
            display: flex;
            width: min-content;
        }
        
        
        
        .order-details{
            border-radius: 16px;
            border: 1px solid $clr3;
            width: 100%;
            .react-datepicker__input-container{
                border-bottom: 1px solid $clr3;
            }
            .react-datepicker__input-container,
            .guests{
                line-height: 4rem;
            }
            
            &>*{
                width: 100%;
            }
        }
    }
    .value-rate{
        align-items: baseline; 
        width: 100%;
    }

    
}

.trip-reserve {

    width: 100%;
& > *{

    margin-bottom: 1rem;
    text-align: left;   
}
:first-child{
    text-align: center;
    margin-bottom: 1.5rem;
}
:last-child{
    margin-top: 1.5rem;
    font-weight: 600;
}
}
